.loading-container {
  display: flex;
  flex-wrap: wrap;
}

.loading-movie {
  margin: 0.4rem;
  width: 13rem;
  height: 16rem;
  background: rgb(80, 80, 80);
  animation: mymove 5s infinite;
}

/*For blinking loading movie*/
@keyframes mymove {
  from {
    background-color: rgb(80, 80, 80);
  }

  to {
    background-color: rgb(37, 37, 37);
  }
}

@media only screen and (max-width: 600px) {

  /*For Mobile  devices*/
  .loading-movie {
    width: 45%;
  }
}