<div class="movie-year" *ngIf = "hasMoviesInGenre">{{year}}</div>

<div class="movie-list-container" *ngIf = "updatedMovieListAsPerGenre.length; else loading">
    <div *ngFor="let movieByYear of updatedMovieListAsPerGenre |  desc" class="movie">
        <div class="movie-poster">
            <img src={{moviePoster}}{{movieByYear.poster_path}} />
        </div>
        <div class="movie-details-container">
            <div class="movie-title">
                <span title={{movieByYear.title}}>{{movieByYear.title}}</span>
            </div>
            <div>
                {{movieByYear.popularity}}
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <app-loading-movie />
</ng-template>