.movie-title{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.movie-details-container{
    z-index: 10;
    margin-top: -60px;
    color: whitesmoke;
    font-size: 0.9rem;
    padding: 10px;
}

.movie{
    padding: 10px;
    transition-delay: 2s;
}

.movie-year{
    color: whitesmoke;
    font-size: 1.8rem;
    padding: 1rem;
}
.movie-list-container{
    display: flex;
    flex-wrap: wrap;
}