.movie-title{
    font-size: 1rem;
    font-weight: bolder;
    -webkit-line-clamp: 1; /* number of lines to show in information card */
            line-clamp: 1;
}

.movie-details-container{
    z-index: 10;
    margin-top: -6rem;
    color: whitesmoke;
    font-size: 0.9rem;
    padding: 0.7rem;
}
.movie-information, .movie-title{
    overflow: hidden;
    text-overflow: ellipsis;    /*To show '...' after sentence if the sentence or title exceeds limit*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.movie-information{
    -webkit-line-clamp: 2; /* number of lines to show in information card */
    line-clamp: 2;

}
.movie{
    padding: 0.4rem;
    width: 13rem;
}
.movie-year{
    color: whitesmoke;
    font-size: 1.8rem;
    padding: 1rem;
}
.movie-list-container{
    display: flex;
    flex-wrap: wrap;
}
.movie-poster,.movie-poster img{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 600px)  { /*For Mobile phone*/
    .movie{
        padding-left: 0.3rem;
        width: 45%;
    }
}